{OVERALL_HEADER}

<div id="page-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">{LANG_HOME}</a></li>
            <li class="active">{LANG_REGISTER}</li>
        </ol>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                <div class="middle-dabba">
                    <h1></h1>
                    <div class="social-signup" style="padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-xs-6"><a class="loginBtn loginBtn--facebook" onclick="fblogin()"><i class="fa fa-facebook"></i> <span>Facebook</span></a></div>
                            <div class="col-xs-6"><a class="loginBtn loginBtn--google" onclick="gmlogin()"><i class="fa fa-google-plus"></i> <span>Google+</span></a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="post-form" style="padding:10px">
                        <form method="post" action="#">
                            <div class="input-field">
                                <label for="name">{LANG_FIRST-NAME}</label>
                                <input type="text" value="{NAME_FIELD}" id="name" name="name" onBlur="checkAvailabilityName()">
                            </div>
                            <span id="name-availability-status">IF("{NAME_ERROR}"!=""){ {NAME_ERROR} {:IF}</span>
                            <div class="input-field">
                                <label for="username">{LANG_USERNAME}</label>
                                <input type="text" value="{USERNAME_FIELD}" id="username" name="username" onBlur="checkAvailabilityUsername()">
                            </div>
                            <span id="user-availability-status">IF("{USERNAME_ERROR}"!=""){ {USERNAME_ERROR} {:IF}</span>
                            <div class="input-field">
                                <label for="email">{LANG_EMAIL}</label>
                                <input type="email" value="{EMAIL_FIELD}" name="email" id="email" onBlur="checkAvailabilityEmail()">
                                <span id="email-availability-status">IF("{EMAIL_ERROR}"!=""){ {EMAIL_ERROR} {:IF}</span>
                            </div>

                            <!--end input-field-->
                            <div class="input-field">
                                <label for="password">{LANG_PASSWORD}</label>
                                <input type="password" id="password" name="password" onBlur="checkAvailabilityPassword()">
                            </div>
                            <span id="password-availability-status">IF("{PASSWORD_ERROR}"!=""){ {PASSWORD_ERROR} {:IF}</span>
                            <!--end input-field-->
                            <div class="input-field center">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary waves-effect">{LANG_REGISTER-NOW}</button>
                            </div>
                            <!--end input-field-->
                            <hr>

                            <p class="center">{LANG_BY-CLICK-REGISTER} <a href="{LINK_HTML}/terms">{LANG_TERM-CON}</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--end ro-->
    </div>
    <!--end container-->
</div>
<!--end page-content-->
<script>
    var error = "";
    function checkAvailabilityName() {
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "check_availability.php",
            data:'name='+$("#name").val(),
            type: "POST",
            success:function(data){
                if(data!="success"){
                    error = 1;
                    $("#name").removeClass('has-success');
                    $("#name-availability-status").html(data);
                    $("#name").addClass('has-error mar-zero');
                }
                else{
                    error = 0;
                    $("#name").removeClass('has-error mar-zero');
                    $("#name-availability-status").html("");
                    $("#name").addClass('has-success');
                }
                $("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
    function checkAvailabilityUsername() {
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "check_availability.php",
            data:'username='+$("#username").val(),
            type: "POST",
            success:function(data){
                if(data!="success"){
                    error = 1;
                    $("#username").removeClass('has-success');
                    $("#user-availability-status").html(data);
                    $("#username").addClass('has-error mar-zero');
                }
                else{
                    error = 0;
                    $("#username").removeClass('has-error mar-zero');
                    //$("#user-availability-status").html("<span class='status-available'>Username available</span>");
                    $("#user-availability-status").html("");
                    $("#username").addClass('has-success');
                }
                $("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
    function checkAvailabilityEmail() {
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "check_availability.php",
            data:'email='+$("#email").val(),
            type: "POST",
            success:function(data){
                if(data!="success"){
                    error = 1;
                    $("#email").removeClass('has-success');
                    $("#email-availability-status").html(data);
                    $("#email").addClass('has-error mar-zero');
                }
                else{
                    error = 0;
                    $("#email").removeClass('has-error mar-zero');
                    $("#email-availability-status").html("");
                    $("#email").addClass('has-success');
                }
                $("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
    function checkAvailabilityPassword() {
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "check_availability.php",
            data:'password='+$("#password").val(),
            type: "POST",
            success:function(data){
                if(data!="success"){
                    error = 1;
                    $("#password").removeClass('has-success');
                    $("#password-availability-status").html(data);
                    $("#password").addClass('has-error mar-zero');
                }
                else{
                    error = 0;
                    $("#password").removeClass('has-error mar-zero');
                    $("#password-availability-status").html("");
                    $("#password").addClass('has-success');
                }
                $("#loaderIcon").hide();
            },
            error:function (){}
        });
    }
</script>
<script type="text/javascript">
    var w=400;
    var h=580;
    var left = (screen.width/2)-(w/2);
    var top = (screen.height/2)-(h/2);
    function fblogin()
    {
        var newWin = window.open("includes/social_login/facebook/index.php", "fblogin", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,display=popup, width='+w+', height='+h+', top='+top+', left='+left);
    }

    function gmlogin()
    {
        var newWin = window.open("includes/social_login/google/index.php", "gmlogin", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }

    function twlogin()
    {

        var newWin = window.open("/twlogin.php", "twlogin", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);

    }



    $(document).ready(function() {

        $('#button').click(function(e) { // Button which will activate our modal

            $('.modal').reveal({ // The item which will be opened with reveal

                animation: 'fade',                   // fade, fadeAndPop, none

                animationspeed: 600,                       // how fast animtions are

                closeonbackgroundclick: true,              // if you click background will modal close?

                dismissmodalclass: 'close'    // the class of a button or element that will close an open modal

            });

            return false;

        });

    });

</script>
{OVERALL_FOOTER}
