{OVERALL_HEADER}

<style>
    .grid-sizer,
    .grid-item {
        width: 10%;
    }
    .sitemap-region {
        height: auto;
        float: left;
    }
    .sitemap-region ul li .count {
        opacity: 0.8;
        display: inline-block;
        font-size: 12px;
        float: right;
        top: 4px;
        position: relative;
        padding-left: 15px;
    }

</style>
<!-- main -->
<section id="main" class="clearfix page">
    <div class="container">

        <ul class="breadcrumb bcstyle2">
            <li><a href="{LINK_INDEX}">{LANG_HOME}</a></li>
            <li class="active"><a>{LANG_ACCOUNT-SETTING}</a></li>
        </ul>
        <a href="{LINK_POST-ITEM}" class="postadinner"><span> <i class="fa fa-plus-circle"></i> {LANG_POST-AD}</span></a>
        <!--end breadcrumb-->
        <section class="page-title center"><h1>{LANG_SITE-MAP}</h1></section>
        <!--end page-title-->

        <div class="section">
            <h2 class="text-center sitemap-h2">{LANG_LIST-CAT-SUBCAT}</h2>
            <hr>

            <div class="grid">
                <div class="grid-sizer"></div>

                {LOOP: CAT}
                <div class="sitemap-region">
                    <h4><a href="{CAT.catlink}"><i class="{CAT.icon}"></i> {CAT.main_title}</a></h4>
                    <ul>
                        {CAT.sub_title}
                    </ul>
                </div>
                {/LOOP: CAT}

            </div>
            <div class="clearfix"></div>
        </div>
    </div><!-- container -->
</section><!-- main -->

<script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.js"></script>
<script>
    // external js: masonry.pkgd.js

    $('.grid').masonry({
        itemSelector: '.sitemap-region',
        columnWidth: '.grid-sizer',
        percentPosition: true
    });

</script>
{OVERALL_FOOTER}
