{OVERALL_HEADER}
<!-- main -->
<section id="main" class="clearfix category-page">
    <div class="container">
        <div class="breadcrumb-section"><!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="{LINK_INDEX}"><i class="fa fa-home"></i> {LANG_HOME}</a></li>
                <li>{MAINCATEGORY}{SUBCATEGORY}IF("{MAINCATEGORY}{SUBCATEGORY}"==""){ All Categories {:IF}</li>
                <div class="pull-right back-result"><a href="{LINK_INDEX}"><i class="fa fa-angle-double-left"></i>
                    {LANG_BACK-RESULT}</a></div>
            </ol>
            <!-- breadcrumb --></div>
        <div class="banner"><!-- banner-form -->
            <div class="banner-form banner-form-full">
                <form method="get" action="{LINK_LISTING}" name="locationForm" id="ListingForm">
                    <!-- category-change -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dropdown category-dropdown"><a data-toggle="dropdown" href="#"><span
                                    class="change-text">{LANG_SELECT-CATEGORY}</span><i class="fa fa-navicon"></i></a>
                                {CAT_DROPDOWN}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="keywords" value="{KEYWORDS}"
                                   placeholder="{LANG_WHAT} ?" id="keywords">
                        </div>
                        <div class="col-md-3 banner-icon"><i class="fa fa-map-marker"></i>
                            <input type="text" class="form-control" id="searchStateCity" name="location"
                                   placeholder="{LANG_WHERE} ?" style=" border-left: 1px solid #e0e0e0;">
                            <input type="hidden" name="placetype" id="searchPlaceType" value="">
                            <input type="hidden" name="placeid" id="searchPlaceId" value="">
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" id="input-maincat" name="cat" value="{MAINCAT}"/>
                            <input type="hidden" id="input-subcat" name="subcat" value="{SUBCAT}"/>
                            <input type="hidden" id="input-filter" name="filter" value="{FILTER}"/>
                            <input type="hidden" id="input-sort" name="sort" value="{SORT}"/>
                            <button data-ajax-response='map' type="submit" name="Submit" class="form-control"><i
                                    class="fa fa-search"></i> {LANG_SEARCH}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- banner-form --></div>
        <div class="category-info">
            <div class="row"><!-- recommended-ads -->
                <div class="col-sm-12 col-md-12">
                    <div class="section recommended-ads allAd"><!-- featured-top -->
                        <div class="featured-top" id="listing-filter">
                            <div class="tab-box "><!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="quick-filter">
                                    <li role="presentation" IF(
                                    "{FILTER}"==""){ class="active" {:IF}><a href="#" data-filter-type="filter"
                                                                             data-filter-val="">{LANG_FIND-ADS} <span
                                        class="badge">{TOTALADSFOUND}</span></a></li>
                                    <li role="presentation" IF(
                                    "{FILTER}"=="featured"){ class="active" {:IF}><a href="#" data-filter-type="filter"
                                                                                     data-filter-val="featured">{LANG_FEATURED}
                                    <span class="badge"> {FEATUREDFOUND} </span></a></li>
                                    <li role="presentation" IF(
                                    "{FILTER}"=="urgent"){ class="active" {:IF}><a href="#" data-filter-type="filter"
                                                                                   data-filter-val="urgent">{LANG_URGENT}
                                    <span class="badge"> {URGENTFOUND} </span></a></li>
                                    <div class="dropdown pull-right"><!-- category-change -->
                                        <div class="dropdown category-dropdown">
                                            <h5>{LANG_SORT-BY}:</h5>
                                            <a id="sort-dropdown" data-toggle="dropdown" href="#"><span
                                                    class="change-text">{SORT}</span><i
                                                    class="fa fa-caret-square-o-down"></i></a>
                                            <ul class="dropdown-menu category-change">
                                                <li><a href="#" data-filter-type="sort" data-filter-val="id">{LANG_NEWEST}</a>
                                                </li>
                                                <li><a href="#" data-filter-type="sort" data-filter-val="title">{LANG_NAME}</a>
                                                </li>
                                                <li><a href="#" data-filter-type="sort" data-filter-val="date">{LANG_DATE}</a>
                                                </li>
                                                <li><a href="#" data-filter-type="sort" data-filter-val="price">{LANG_PRICE}:
                                                    {LANG_HIGH-TO-LOW}</a></li>
                                            </ul>
                                        </div>
                                        <!-- category-change --></div>
                                </ul>
                            </div>
                            <div class="filter-section">
                                <h2>{LANG_ALL-ADS}</h2>

                                <div class="sorting well">
                                    <div class="btn-group pull-right">
                                        <button class="btn" id="list"><i class="fa fa-th-list fa-white icon-white"></i>
                                        </button>
                                        <button class="btn" id="grid"><i class="fa fa-th fa"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- featured-top -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="allad">
                                <div class="" id="serchlist">
                                    <div class="searchresult list" style="display: none;">
                                        {LOOP: ITEM}<!-- quick-item -->
                                        <div class="quick-item row IF(" {ITEM.highlight}
                                        "=="1"){ highlight {:IF}"><!-- item-image -->
                                        <div class="ad-listing">
                                            <div class="image bg-transfer">
                                                <figure>
                                                    <div class="item-badges">IF("{ITEM.featured}"=="1"){<span
                                                            class="featured">{LANG_FEATURED}</span>{:IF}IF("{ITEM.urgent}"=="1"){<span>{LANG_URGENT}</span>{:IF}
                                                    </div>
                                                </figure>
                                                <img src="{SITE_URL}storage/products/screenshot/{ITEM.picture}"
                                                     alt="{ITEM.product_name}"></div>
                                            <div class="item-info col-sm-12"><!-- ad-info -->
                                                <div class="ad-info">
                                                    <h4 class="item-title"><a href="{ITEM.link}">{ITEM.product_name}</a>
                                                    </h4>
                                                    <ul class="contact-options pull-right" id="set-favorite">
                                                        <li><a href="#" data-item-id="{ITEM.id}" data-userid="{USER_ID}"
                                                               data-action="setFavAd"
                                                               class="fav_{ITEM.id} fa fa-heart IF(" {ITEM.favorite}"=="1"){
                                                            active {:IF}"></a></li>
                                                    </ul>
                                                    <ol class="breadcrumb">
                                                        <li><a href="{ITEM.catlink}">{ITEM.category}</a></li>
                                                        <li><a href="{ITEM.subcatlink}">{ITEM.sub_category}</a></li>
                                                    </ol>
                                                    <ul class="item-details">
                                                        <li><i class="fa fa-map-marker"></i><a href="{ITEM.citylink}">{ITEM.city}</a>
                                                        </li>
                                                        <li><i class="fa fa-clock-o"></i>{ITEM.created_at}</li>
                                                    </ul>
                                                    <span class="item-price"> {CURRENCY_SIGN}{ITEM.price} </span>

                                                    <div><a class="view-btn" href="{ITEM.link}">{LANG_VIEW-AD}</a></div>
                                                </div>
                                                <!-- ad-info --></div>
                                            <!-- item-info --></div>
                                    </div>
                                    <!-- quick-item -->
                                    {/LOOP: ITEM}
                                </div>
                                <div class="searchresult grid" style="display: none;">
                                    <div class="gird-layout row">
                                        {LOOP: ITEM2}
                                        <div class="col-md-3 col-sm-6 mar-bot-10">
                                            <div style="border: 1px solid #f3f3f3;">
                                                <div class="item-image-box">
                                                    <div class="item-image"><a href="{ITEM2.link}"><img
                                                            src="{SITE_URL}storage/products/screenshot/small_{ITEM2.picture}"
                                                            alt="{ITEM2.product_name}" class="img-responsive"></a>

                                                        <div class="item-badges">IF("{ITEM2.featured}"=="1"){<span
                                                                class="featured">{LANG_FEATURED}</span>{:IF}IF("{ITEM2.urgent}"=="1"){<span>{LANG_URGENT}</span>{:IF}
                                                        </div>
                                                    </div>
                                                    <!-- item-image --></div>
                                                <div class="item-info"><!-- ad-info -->
                                                    <div class="ad-info">
                                                        <h4 class="item-title"><a href="{ITEM2.link}">{ITEM2.product_name}</a>
                                                        </h4>
                                                        <ol class="breadcrumb">
                                                            <li><a href="{ITEM2.catlink}">{ITEM2.category}</a></li>
                                                            <li><a href="{ITEM2.subcatlink}">{ITEM2.sub_category}</a>
                                                            </li>
                                                        </ol>
                                                        <ul class="item-details">
                                                            <li><i class="fa fa-map-marker"></i><a
                                                                    href="{ITEM2.citylink}">{ITEM2.city}</a></li>
                                                            <li><i class="fa fa-clock-o"></i>{ITEM2.created_at}</li>
                                                        </ul>
                                                        <div class="ad-meta"><span class="item-price"> {CURRENCY_SIGN}{ITEM2.price} </span>
                                                            <ul class="contact-options pull-right" id="set-favorite">
                                                                <li><a href="#" data-item-id="{ITEM2.id}"
                                                                       data-userid="{USER_ID}" data-action="setFavAd"
                                                                       class="fav_{ITEM2.id} fa fa-heart IF("
                                                                       {ITEM2.favorite}"=="1"){ active {:IF}"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- ad-info --></div>
                                            </div>
                                        </div>
                                        <!-- quick-item -->
                                        {/LOOP: ITEM2}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                IF("{ADSFOUND}"=="0"){
                                <h4>:( No {PAGETITLE}.</h4>
                                {:IF}
                                <!-- Pagination-->
                                <div class="pagination-container">
                                    <ul class="pagination">
                                        {LOOP: PAGES}
                                        IF("{PAGES.current}"=="0"){
                                        <li><a href="{PAGES.link}">{PAGES.title}</a></li>
                                        {:IF}
                                        IF("{PAGES.current}"=="1"){
                                        <li class="active"><a>{PAGES.title}</a></li>
                                        {:IF}
                                        {/LOOP: PAGES}
                                    </ul>
                                </div>
                                <!-- Pagination-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- recommended-ads --></div>
    </div>
    <!-- container --></section>
<!-- main -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".current").addClass("active");
        if ($('.getParent').length > 0) {
            $('.getParent').parent().addClass('in');
        }
    });

    $('#listing-filter').on('click', '#quick-filter li a', function (e) {
        var $item = $(this).closest('a');

        var filtertype = $item.data('filter-type');
        var filterval = $item.data('filter-val');
        $('#input-' + filtertype).val(filterval);
        $('#ListingForm').submit();
    });

    var getMaincatId = '{MAINCAT}';
    var getSubcatId = '{SUBCAT}';

    $(window).bind("load", function () {
        if (getMaincatId != "") {
            $('li a[data-ajax-id="' + getMaincatId + '"]').trigger('click');
        } else if (getSubcatId != "") {
            $('li ul li a[data-ajax-id="' + getSubcatId + '"]').trigger('click');
        } else {
            $('li a[data-cat-type="all"]').trigger('click');
        }
    });
    var loginurl = "{LINK_LOGIN}?ref=listing.php"</script>


{OVERALL_FOOTER}