{OVERALL_HEADER}
<section id="main" class="clearfix text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="found-section section">
                    <h1>404</h1>

                    <h2>{MESSAGE}</h2>

                    <p>{LANG_NOT-FIND-PAGE}.</p>
                    <a href="{LINK_INDEX}" class="btn btn-primary">{LANG_GO-HOME}</a></div>
            </div>
        </div>
    </div>
    <!-- container --></section>
<!-- main -->
{OVERALL_FOOTER}