{OVERALL_HEADER}<!-- main -->
<section id="main" class="clearfix page">
    <div class="container">
        <div class="breadcrumb-section"><!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="{LINK_INDEX}"><i class="fa fa-home"></i> {LANG_HOME}</a></li>
                <li>{LANG_HOW-IT-WORK}</li>
                <div class="pull-right back-result"><a href="{LINK_LISTING}"><i class="fa fa-angle-double-left"></i>
                    {LANG_BACK-RESULT}</a></div>
                <h2 class="title">{LANG_HOW-IT-WORK}</h2>
            </ol>
            <!-- breadcrumb --></div>
        <div class="section">
            <div class="work-section-head text-center">
                <p>{LANG_FAST-EASY-FREE}</p>
            </div>
            <div class="work-section-grids text-center">
                <div class="col-md-3 work-section-grid"><i class="icofont icofont-instrument"></i>
                    <h4>{LANG_POST-AD}</h4>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been</p>
                </div>
                <div class="col-md-3 work-section-grid"><i class="icofont icofont-map-search"></i>
                    <h4>{LANG_FIND-AN-ITEM}</h4>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been</p>
                </div>
                <div class="col-md-3 work-section-grid"><i class="icofont icofont-contacts"></i>
                    <h4>{LANG_CONTACT-SELLER}</h4>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been</p>
                </div>
                <div class="col-md-3 work-section-grid"><i class="icofont icofont-money"></i>
                    <h4>{LANG_MAKE-TRANSACTION}</h4>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been</p>
                </div>
                <div class="clearfix"></div>
                <a class="work" href="{LINK_POST-AD}">{LANG_GET-START-NOW}</a></div>
        </div>
    </div>
    <!-- container --></section>
<!-- main -->{OVERALL_FOOTER} 