<!doctype html>
<html lang="en">
<head>

    <title>AdSpot - The Classified Web App</title>
    <!--========================================
    Meta
    ===========================================-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->

    <!-- Add to home screen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="xDocs">
    <link rel="icon" sizes="192x192" href="assets/img/basic/chrome-touch-icon-192x192.png">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="assets/img/basic/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/basic/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#55acee">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#55acee">

    <!--========================================
    CSS
    ===========================================-->
    <!--3rd party plugins-->
    <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/lib/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css">
    <!--custom icons for classified website-->
    <link href="assets/css/adspoticons.css" rel="stylesheet" type="text/css">
    <!--main styles for template-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!--put your custom css on the file below-->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">
    <!--put fonts here-->
    <link href="assets/fonts/adspoticons.ttf" rel="stylesheet" type="text/css">
    <link href="assets/fonts/adspoticons.eot" rel="stylesheet" type="text/css">
    <link href="assets/fonts/adspoticons.woff" rel="stylesheet" type="text/css">
    <link href="assets/fonts/adspoticons.svg" rel="stylesheet" type="text/css">
    <link href="assets/lib/font-awesome/fonts/fontawesome-webfont.ttf" rel="stylesheet" type="text/css">
    <link href="assets/lib/font-awesome/fonts/fontawesome-webfont.eot" rel="stylesheet" type="text/css">
    <link href="assets/lib/font-awesome/fonts/fontawesome-webfont.svg" rel="stylesheet" type="text/css">
    <link href="assets/lib/font-awesome/fonts/fontawesome-webfont.woff" rel="stylesheet" type="text/css">
    <link href="assets/lib/font-awesome/fonts/fontawesome-webfont.woff2" rel="stylesheet" type="text/css">


</head>
<body>
    <div class="web-app">

        <div class="doc-header">
            <div class="container">
                <div class="inner">
                    <div class="app-logo">
                        <button class="mobile-control mob-menu-trigger"><i class="adicon-hamburger"></i></button>
                        <a href="home-default.html"><img src="assets/img/basic/logo.png" alt="adspot"></a>
                    </div>
                    <ul class="quick-actions">
                        <li class="dropdown-wrap">
                            <a href="#">English <i class="fa fa-caret-down"></i></a>
                            <div class="basic-dropdown">
                                <ul class="country-list">
                                    <li><a href="#"><img src="assets/img/flags/ukflag.png" alt="dummy">English (UK)</a></li>
                                    <li><a href="#"><img src="assets/img/flags/france.png" alt="dummy">France</a></li>
                                    <li><a href="#"><img src="assets/img/flags/germany.png" alt="dummy">German</a></li>
                                    <li><a href="#"><img src="assets/img/flags/russian.png" alt="dummy">Russian</a></li>
                                    <li><a href="#"><img src="assets/img/flags/china.png" alt="dummy">Chinese</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="modal-trigger" href="#signInModal">Login</a></li>
                        <li><a class="modal-trigger" href="#signUpModal">Register</a></li>
                        <li class="dropdown-wrap wide">
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            <div class="basic-dropdown wide">
                                <div class="short-cart">
                                    <ul>
                                        <li>
                                            <figure><img src="assets/img/items/ad1.png" alt="dummy"></figure>
                                            <a href="#" class="item-title">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a href="#" class="remove-item"><i class="fa fa-close"></i></a>
                                        </li>
                                        <li>
                                            <figure><img src="assets/img/items/ad2.jpg" alt="dummy"></figure>
                                            <a href="#" class="item-title">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a href="#" class="remove-item"><i class="fa fa-close"></i></a>
                                        </li>
                                        <li>
                                            <figure><img src="assets/img/items/ad3.jpg" alt="dummy"></figure>
                                            <a href="#" class="item-title">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a href="#" class="remove-item"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <table>
                                        <tr>
                                            <td>Total Price</td>
                                            <td><strong>885.00 USD</strong></td>
                                        </tr>
                                    </table>
                                    <a href="cart.html" class="btn btn-transparent block-element">View Cart</a>
                                </div>
                            </div>
                        </li>
                        <li><a class="nav-trigger" href="#"><i class="fa fa-navicon"></i></a></li>
                    </ul>
                    <div class="clearfix">
                        <a href="create.html" class="btn btn-green pull-right quick-post">Post your ad</a>
                        <div class="pull-right search-filters">
                            <div class="mega-dropdown pull-left">
                                <button>Select City</button>
                                <i class="fa fa-navicon"></i>
                                <div class="mega-content">
                                    <div class="inner">
                                        <div class="search-widget">
                                            <input type="text" placeholder="search">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>

                                        <div class="mega-list">
                                            <header>
                                                <i class="adicon-buildings"></i> Popular Cities
                                            </header>
                                            <ul class="clearfix">
                                                <li><a href="#">Bradford</a></li>
                                                <li><a href="#">Cambridge</a></li>
                                                <li><a href="#">Chester</a></li>
                                                <li><a href="#">Durham</a></li>
                                                <li><a href="#">Scotland</a></li>
                                                <li><a href="#">Lancaster</a></li>
                                                <li><a href="#">Liverpool</a></li>
                                                <li><a href="#">City of london</a></li>
                                                <li><a href="#">Bradford</a></li>
                                                <li><a href="#">Cambridge</a></li>
                                                <li><a href="#">Chester</a></li>
                                                <li><a href="#">Durham</a></li>
                                                <li><a href="#">Scotland</a></li>
                                                <li><a href="#">Lancaster</a></li>
                                                <li><a href="#">Liverpool</a></li>
                                                <li><a href="#">City of london</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="mega-filtered-search">
                                <div class="mega-dropdown">
                                    <button>Select Category</button>
                                    <i class="fa fa-navicon"></i>
                                    <div class="mega-content">
                                        <ul class="category-list">
                                            <li><a href="#"><i class="adicon-grid"></i>All Categories</a></li>
                                            <li><a href="#"><i class="adicon-car"></i>Vehicles</a>
                                                <ul>
                                                    <li><a href="#">Cars</a></li>
                                                    <li><a href="#">Motorcycles</a></li>
                                                    <li><a href="#">Scooters</a></li>
                                                    <li><a href="#">Bicycles</a></li>
                                                    <li><a href="#">Commercial Vehicles</a></li>
                                                    <li><a href="#">Spare Parts & Accessories</a></li>
                                                    <li><a href="#">Other Vehicles</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="adicon-tablet"></i>Mobiles</a>
                                                <ul>
                                                    <li><a href="#">Iphone</a></li>
                                                    <li><a href="#">Android</a></li>
                                                    <li><a href="#">Q mobile</a></li>
                                                    <li><a href="#">Black berry</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="adicon-tv"></i>Electronics</a>
                                                <ul>
                                                    <li><a href="#">Washing Machine</a></li>
                                                    <li><a href="#">Television</a></li>
                                                    <li><a href="#">Air conditioner</a></li>
                                                    <li><a href="#">Computers and Laptops</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="adicon-sofa"></i>Furniture</a></li>
                                            <li><a href="#"><i class="adicon-briefcase"></i>Jobs</a></li>
                                            <li><a href="#"><i class="adicon-buildings"></i>Real Estate</a></li>
                                            <li><a href="#"><i class="adicon-bell"></i>Services</a></li>
                                            <li><a href="#"><i class="adicon-hat"></i>Education</a></li>
                                            <li><a href="#"><i class="adicon-dog"></i>Animals</a></li>
                                            <li><a href="#"><i class="adicon-heal"></i>Fashion</a></li>
                                            <li><a href="#"><i class="adicon-smile"></i>Baby Products</a></li>
                                            <li><a href="#"><i class="adicon-hearts"></i>Matrimony</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="search-widget">
                                    <input type="text" placeholder="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sliding-nav">
            <a class="close-sliding-nav" href="#">Close nav</a>
            <nav class="slide-nav-list">
                <ul>
                    <li class="parent">
                        <a href="javascript:return;">Demos</a>
                        <ul>
                            <li><a href="home2.html">Demo1 - Focus</a></li>
                            <li><a href="home3.html">Demo2 - Expressive</a></li>
                            <li><a href="home4.html">Demo3 - Minimal</a></li>
                            <li><a href="home5.html">Demo4 - Fancy</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#">Classified</a>
                        <ul>
                            <li><a href="home-default.html">Home</a></li>
                            <li><a href="listing.html">Ads Archive</a></li>
                            <li><a href="single.html">Ad Single</a></li>
                            <li><a href="create.html">Create Ad</a></li>
                            <li><a href="dashboard.html">Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a  href="javascript:return;">Shop</a>
                        <ul>
                            <li><a href="shop-index.html">Shop Home</a></li>
                            <li><a href="shop-listing.html">Archive</a></li>
                            <li><a href="shop-single.html">Single</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a  href="javascript:return;">Pages</a>
                        <ul>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="terms.html">Terms</a></li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a  href="javascript:return;">Shortcodes</a>
                        <ul>
                            <li><a href="elements-shortcodes.html">Elements</a></li>
                            <li><a href="typography.html">Typography</a></li>
                           <li><a href="elements-bootstrap.html">Bootstrap Components</a></li><li><a href="buttons.html">Buttons</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="mobile-menu-wrap">
            <a href="#" class="closeMobilMenu">close the mobile menu</a>
            <div class="mobile-menu">
                <div class="search-widget">
                    <input type="text" placeholder="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <ul class="menu-list">
                    <li><a href="create.html">Create an Ad</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="listing.html">Ads Listing Page</a></li>
                    <li><a href="how-adspot-works.html">How this works</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="shop-index.html">Shop Page</a></li>
                    <li><a href="shop-listing.html">Shop Archive</a></li>
                    <li><a href="cart.html">Cart Page</a></li>
                    <li><a href="checkout.html">Checkout Page</a></li>
                    <li><a href="elements-shortcodes.html">Checkout Page</a></li>
                </ul>
            </div>
        </div>

        <div class="app-canvas">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>About us</li>
                    </ul>
                </div>

                <div class="checkout-area row">
                    <div class="col-xs-12 col-md-8">

                        <div class="panel-block">
                            <header><h6>Checkout Options</h6></header>
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-lg-7">
                                        <h6>Register with us for future convenience:</h6>
                                        <div class="custom-radio-wrap">
                                            <div class="custom-radio block-element">
                                                <input type="radio" name="checkout-account" id="check001">
                                                <label for="check001">Checkout as Guest</label>
                                            </div>
                                            <div class="custom-radio block-element">
                                                <input type="radio" name="checkout-account" id="check002">
                                                <label for="check002">Register an account</label>
                                            </div>
                                        </div>
                                        <p>By creating an account you will be able to shop <br>
                                           faster and be up to date on an order's status.</p>
                                        <br>
                                        <a href="#" class="btn btn-transparent">Continue</a>
                                    </div>
                                    <div class="col-xs-12 col-md-6 col-lg-5">
                                        <h5>Already registered?</h5>
                                        <span>Please login below:</span>
                                        <form action="/" class="pt-25">
                                            <div class="field-block-md">
                                                <div class="labeled-input">
                                                    <label>Email address</label>
                                                    <input type="email" title="enter your email">
                                                </div>
                                            </div>
                                            <div class="field-block-md">
                                                <div class="labeled-input">
                                                    <label>Password</label>
                                                    <input type="password" title="Password">
                                                </div>
                                            </div>
                                            <button class="btn btn-green btn-small block-element">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div><!--inner-->
                        </div><!--panel-block-->

                        <div class="panel-block">
                            <header><h6>Billing Details</h6></header>
                            <div class="inner">
                                <div class="row">
                                    <form action="" class="col-xs-12 col-md-10">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>First Name</label>
                                                        <input type="text" title="enter your name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>Last Name</label>
                                                        <input type="text" title="enter your name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>Your Email</label>
                                                        <input type="email" title="enter your email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>Your telephone</label>
                                                        <input type="tel" title="enter your telephon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>Address  Line 1</label>
                                                        <input type="email" title="Address  Line 1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>Address  Line 2</label>
                                                        <input type="email" title="Address  Line 2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">

                                                    <div class="radio-dropdown">
                                                        <i class="fa fa-bars"></i>
                                                        <button>Select your Country</button>
                                                        <ul>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create022" name="item-brand-name">
                                                                <label for="create022">Bradford</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create023" name="item-brand-name">
                                                                <label for="create023">Cambridge</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create024" name="item-brand-name">
                                                                <label for="create024">Chester</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create025" name="item-brand-name">
                                                                <label for="create025">Durham</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create026" name="item-brand-name">
                                                                <label for="create026">Glasgow</label>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="radio-dropdown">
                                                        <i class="fa fa-bars"></i>
                                                        <button>Select your State</button>
                                                        <ul>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create0222" name="item-brand-name">
                                                                <label for="create0222">Bradford</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create0232" name="item-brand-name">
                                                                <label for="create0232">Cambridge</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create0242" name="item-brand-name">
                                                                <label for="create0242">Chester</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create0252" name="item-brand-name">
                                                                <label for="create0252">Durham</label>
                                                            </li>
                                                            <li class="custom-radio">
                                                                <input type="radio" id="create0262" name="item-brand-name">
                                                                <label for="create0262">Glasgow</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>City</label>
                                                        <input type="text" title="enter your name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="field-block-md">
                                                    <div class="labeled-input">
                                                        <label>ZIP code</label>
                                                        <input type="text" title="enter your name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="custom-radio-wrap">
                                            <div class="custom-radio block-element">
                                                <input type="radio" id="check0012" name="checkout-shiptosame">
                                                <label for="check0012">Ship to this address</label>
                                            </div>
                                            <div class="custom-radio block-element">
                                                <input type="radio" id="check0022" name="checkout-shiptosame">
                                                <label for="check0022">Ship to a different address</label>
                                            </div>
                                        </div>

                                        <button class="btn btn-transparent">Continue</button>

                                    </form>
                                </div>
                            </div><!--inner-->
                        </div><!--panel-block-->

                        <div class="panel-block">
                            <header><h6>Delivery Method</h6></header>
                            <div class="inner">
                                <p>Please select the preferred shipping method to use on this order.</p>

                                <form action="/">
                                    <div class="custom-radio-wrap">
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="checkout-shipopt" id="check00123">
                                            <label for="check00123">Self pickup - free</label>
                                        </div>
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="checkout-shipopt" id="check00223">
                                            <label for="check00223">Straight shipping fee $15</label>
                                        </div>
                                    </div>

                                    <textarea placeholder="Add comments about your order"></textarea>
                                    <br>
                                    <br>
                                    <button class="btn btn-transparent">Continue</button>

                                </form>


                            </div><!--inner-->
                        </div><!--panel-block-->

                        <div class="panel-block">
                            <header><h6>Payment Method</h6></header>
                            <div class="inner">
                                <p>Please select the preferred payment method to use on this order.</p>

                                <form action="/">
                                    <div class="custom-radio-wrap">
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="payment-method-opt" id="create422131">
                                            <label for="create422131"> Direct Bank Transfer</label>
                                        </div>
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="payment-method-opt" id="create422132">
                                            <label for="create422132"> Cheque Payment</label>
                                        </div>
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="payment-method-opt" id="create422133">
                                            <label for="create422133"> Paypal</label>
                                        </div>
                                        <div class="custom-radio block-element">
                                            <input type="radio" name="payment-method-opt" id="create422134">
                                            <label for="create422134"> Credit Card</label>
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <button class="btn btn-green btn-small">Place Order</button>

                                </form>


                            </div><!--inner-->
                        </div><!--panel-block-->

                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="panel-block">
                            <header><h6>Order Summary</h6></header>
                            <div class="inner">
                                <div class="short-cart">
                                    <ul>
                                        <li>
                                            <figure><img alt="dummy" src="assets/img/items/ad1.png"></figure>
                                            <a class="item-title" href="#">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a class="remove-item" href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                        <li>
                                            <figure><img alt="dummy" src="assets/img/items/ad2.jpg"></figure>
                                            <a class="item-title" href="#">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a class="remove-item" href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                        <li>
                                            <figure><img alt="dummy" src="assets/img/items/ad3.jpg"></figure>
                                            <a class="item-title" href="#">Iphone 6 Plus 16GB</a>
                                            <span>$229.00</span>
                                            <a class="remove-item" href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <table>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td>$827.60</td>
                                        </tr>
                                        <tr>
                                            <td>Sales Tax</td>
                                            <td>19% Gross</td>
                                        </tr>
                                        <tr>
                                            <td>Discount</td>
                                            <td>0%</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>Free</td>
                                        </tr>
                                    </table>
                                    <div class="row total-payable">
                                        <div class="col-xs-6"><strong>Total</strong></div>
                                        <div class="col-xs-6 text-right"><strong>$827.60</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-7 pull-right">
                            <header>
                                <span class="text-uppercase">Make Your Phone a classified machine</span>
                                <h2>Download Free Classified App</h2>
                            </header>
                            <div class="row inner">
                                <div class="col-xs-4">
                                    <a href="#" class="app-store">
                                        <img src="assets/img/android.png" alt="Google play">
                                        <span>download on</span>
                                        <h4>Google Play</h4>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" class="app-store">
                                        <img src="assets/img/apple.png" alt="Apple store">
                                        <span>download on</span>
                                        <h4>Apple Store</h4>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" class="app-store">
                                        <img src="assets/img/win.png" alt="windows store">
                                        <span>download on</span>
                                        <h4>Windows Store</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4 col-md-5 pull-right">
                            <div class="action-mock">
                                <img src="assets/img/app-mock.png" alt="download apps">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="doc-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <ul>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Trust &amp; Safety</a></li>
                            <li><a href="#">Help &amp; Support</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="#" target="_blank" class="fa fa-twitter"></a></li>
                        <li><a href="#" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="#" target="_blank" class="fa fa-linkedin"></a></li>
                        <li><a href="#" target="_blank" class="fa fa-youtube-play"></a></li>
                    </ul>
                </div>
                <div class="text-center">
                    &copy; ADSPOT - Classified
                </div>
            </div>
        </footer>
    </div>


    <!--======================================
   Modals
   =======================================-->
    <div id="signInModal" class="modal-container">
        <a href="#" class="modal-overlay"> click to close modal</a>
        <div class="inner">
            <button class="close_modal"><i class="fa fa-remove"></i></button>
            <div class="social_login_opt">
                <div>
                    <div class="opt-navigator dropdown-wrap">
                        <button>open options</button>
                        <div class="basic-dropdown">
                            <ul class="social-drop-list">
                                <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-opts">
                        <a href="#" class="opt-fb-login active">
                            <i class="fa fa-facebook"></i>
                            <span>Sign in with facebook</span>
                        </a>
                        <a href="#" class="opt-gp-login">
                            <i class="fa fa-google-plus"></i>
                            <span>Sign in with Google+</span>
                        </a>
                        <a href="#" class="opt-twitter-login">
                            <i class="fa fa-twitter"></i>
                            <span>Sign in with Twitter</span>
                        </a>
                        <a href="#" class="opt-instagram-login">
                            <i class="fa fa-instagram"></i>
                            <span>Sign in with Instagram</span>
                        </a>
                        <a href="#" class="opt-linkedin-login">
                            <i class="fa fa-linkedin"></i>
                            <span>Sign in with Linkedin</span>
                        </a>
                    </div>
                </div>
                <span class="split-opt">or</span>
            </div>
            <div class="modal-content">
                <header>
                    <h4>Welcome Back!</h4>
                    <p>Please enter your details below</p>
                </header>
                <form action="/">
                    <div class="field-block">
                        <div class="labeled-input">
                            <label>Username</label>
                            <input title="title here" type="text">
                        </div>
                    </div>
                    <div class="field-block">
                        <div class="labeled-input">
                            <label>Password</label>
                            <input title="title here" type="password">
                        </div>
                    </div>
                    <div class="row login-actions field-block">
                        <div class="col-xs-12 col-sm-6">
                            <div class="custom-radio">
                                <input type="radio" name="item-condition" id="login001">
                                <label for="login001">Remember me</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 xs-text-left text-right">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>

                    <button class="btn btn-md btn-green block-element">Login Now</button>
                    <div class="login-cta text-center">
                        <p>Don't have an account?</p>
                        <a href="#">Register here FREE</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="signUpModal" class="modal-container">
        <a href="#" class="modal-overlay"> click to close modal</a>
        <div class="inner">
            <button class="close_modal"><i class="fa fa-remove"></i></button>
            <div class="social_login_opt">
                <div>
                    <div class="opt-navigator dropdown-wrap">
                        <button>open options</button>
                        <div class="basic-dropdown">
                            <ul class="social-drop-list">
                                <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-opts">
                        <a href="#" class="opt-fb-login active">
                            <i class="fa fa-facebook"></i>
                            <span>Sign in with facebook</span>
                        </a>
                        <a href="#" class="opt-gp-login">
                            <i class="fa fa-google-plus"></i>
                            <span>Sign in with Google+</span>
                        </a>
                        <a href="#" class="opt-twitter-login">
                            <i class="fa fa-twitter"></i>
                            <span>Sign in with Twitter</span>
                        </a>
                        <a href="#" class="opt-instagram-login">
                            <i class="fa fa-instagram"></i>
                            <span>Sign in with Instagram</span>
                        </a>
                        <a href="#" class="opt-linkedin-login">
                            <i class="fa fa-linkedin"></i>
                            <span>Sign in with Linkedin</span>
                        </a>
                    </div>
                </div>
                <span class="split-opt">or</span>
            </div>
            <div class="modal-content">
                <header>
                    <h4>Welcome Back!</h4>
                    <p>Please enter your details below</p>
                </header>
                <form action="/">
                    <div class="field-block">
                        <div class="labeled-input">
                            <label>Username</label>
                            <input title="title here" type="text">
                        </div>
                    </div>
                    <div class="field-block">
                        <div class="labeled-input">
                            <label>Password</label>
                            <input title="title here" type="password">
                        </div>
                    </div>
                    <div class="field-block">
                        <div class="icon-field">
                            <span>+44</span>
                            <input type="text" placeholder="Your Contact #">
                        </div>
                    </div>


                    <button class="btn btn-md btn-green block-element">Signup Now</button>
                    <div class="login-cta text-center"><br>
                        By clicking Signup Now, you agree to <br>
                        <a href="#">our Terms</a> and <a href="#">Privacy Policy</a>.
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--========================================
    Javascript
    ===========================================-->
    <script src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
